In [2]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize
import time
import datetime as dt
import glob

In [1]:
def all_csv_df():
    '''
    Loops through the .csv in /raw and concatonates them into 1 Dataframe
    '''
    path = r'/Users/AaronLee/Documents/GalvanizeDSI/Capstone1/raw'
    all_files = glob.glob(path + "/*.csv")

    list_holder = []

    for filename in all_files:
        df = pd.read_csv(filename, index_col=None, header=0)
        list_holder.append(df)

    US_df = pd.concat(list_holder, axis=0, ignore_index=True)
    return US_df

In [52]:
def test(t, n):
    data = []
    for i in range(t):
        data.append(range(n))
        if i == (t-1):
            print('pass')
        else:
            time.sleep(2)
    return data

In [54]:
test(5, 10)

pass

[range(0, 10), range(0, 10), range(0, 10), range(0, 10), range(0, 10)]

In [3]:
full_df = all_csv_df()

In [5]:
columns = []
for col in full_df.columns: 
    columns.append(col)
print (columns)

['alt_description', 'categories', 'color', 'created_at', 'current_user_collections', 'description', 'downloads', 'exif.aperture', 'exif.exposure_time', 'exif.focal_length', 'exif.iso', 'exif.make', 'exif.model', 'height', 'id', 'liked_by_user', 'likes', 'links.download', 'links.download_location', 'links.html', 'links.self', 'location.city', 'location.country', 'location.name', 'location.position.latitude', 'location.position.longitude', 'location.title', 'updated_at', 'urls.full', 'urls.raw', 'urls.regular', 'urls.small', 'urls.thumb', 'user.accepted_tos', 'user.bio', 'user.first_name', 'user.id', 'user.instagram_username', 'user.last_name', 'user.links.followers', 'user.links.following', 'user.links.html', 'user.links.likes', 'user.links.photos', 'user.links.portfolio', 'user.links.self', 'user.location', 'user.name', 'user.portfolio_url', 'user.profile_image.large', 'user.profile_image.medium', 'user.profile_image.small', 'user.total_collections', 'user.total_likes', 'user.total_photos', 'user.twitter_username', 'user.updated_at', 'user.username', 'views', 'width']

In [7]:
full_df[['exif.make','downloads','user.total_collections', 'user.total_likes', 'user.total_photos']]

,exif.make,user.total_collections,user.total_likes,user.total_photos
0,NIKON CORPORATION,0,348,336
1,Canon,9,77,32
2,SONY,0,0,23
3,SONY,0,80,97
4,Canon,62,991,349
5,NaN,1,10,98
6,Canon,27,2772,1188
7,NIKON CORPORATION,0,114,17
8,Canon,0,35,128
9,Canon,1,61,94
10,Canon,0,70,48
11,NaN,0,0,8
12,NIKON CORPORATION,0,348,336
13,Canon,0,41,24
14,NIKON CORPORATION,4,0,151
15,Canon,0,0,2
16,NaN,0,1,48
17,Canon,1,4,93
18,Sony,2,29,33
19,FUJIFILM,5,0,60
20,SONY,0,283,301
21,NaN,0,0,89
22,FUJIFILM,0,29,160
23,SONY,4,20,57
24,Canon,0,7,182
25,Canon,5,57,73
26,Canon,0,12,100
27,SONY,4,20,57
28,Canon,9,77,32
29,Canon,5,1,59
...,...,...,...,...
351,SONY,0,0,47
352,NIKON CORPORATION,2,372,196
353,Panasonic,5,138,49
354,FUJIFILM,2,57,63
355,NIKON CORPORATION,7,208,12
356,NaN,0,470,223
357,Xiaomi,18,780,149
358,FUJIFILM,5,164,95
359,FUJIFILM,10,730,256
360,Canon,0,0,53
361,NIKON CORPORATION,5,0,286
362,Canon,0,10,112
363,NIKON CORPORATION,10,9,64
364,Canon,1,951,160
365,FUJIFILM,3,0,6
366,SONY,1,125,182
367,NIKON CORPORATION,1,2,153
368,FUJIFILM,0,219,173
369,DJI,0,1,79
370,Canon,2,0,1557
371,NaN,5,475,20
372,FUJIFILM,5,14,1083
373,Canon,5,2786,1010
374,NIKON CORPORATION,2,372,196
375,SONY,1,497,111
376,Canon,7,196,166
377,Canon,5,57,73
378,FUJIFILM,4,142,88
379,Canon,0,1,138
380,Canon,7,2,50